*.o
.*.swp
~*
tags
/bin/
/other/
/tmp/
/src/hhformat.C
/src/hhcov.C
/src/hhtransitive_scoring_old.C
/src/hhsearch
/src/hhsearch_valgrind
/src/hhblits
/src/hhblits_valgrind
/src/hhmake
/src/hhmake_valgrind
/src/hhfilter
/src/hhmake_filter
/src/hhalign
/src/hhalign_valgrind
/src/hhconsensus
/src/hhconsensus_valgrind
/src/cstranslate
/src/cstranslate
.project
.cproject
/Debug
/build
*__pycache__*
