#
# HHblits config file for databases and external programs
#

# BLAST formatted database with consensus sequences
db           = /cluster/databases/standard/nr20cons

# directory with database HMMs
dbhhm       = /databases/nr20

# directory with hhblits and reformat.pl
hh           = /cluster/bioprogs/hhblits

# prefilter mode (csblast or blast)
pre_mode     = csblast

# BLAST directory (binaries)
blast        = /cluster/bioprogs/blast/bin

# csBLAST directory (binaries and database) (not needed with BLAST)
csblast      = /cluster/bioprogs/csblast
csblast_db   = /cluster/user/michael/hh/cs/data/K4000.lib

# PsiPred directory (binaries and database) (not needed when no SS prediction is needed (-nopred))
psipred      = /cluster/bioprogs/psipred/bin
psipred_data = /cluster/bioprogs/psipred/data
